<h2>商品新規登録</h2>
<%= form_with model:@item, url:'/items', local:true do |f| %>
<ul>
  <td>商品名</td>
  <%= f.text_field :name %></td>
 </ul>
 <ul>
   <td>商品説明
   <%= f.text_area:introduction %></td>
 </ul> 
 <ul>
    <td>税込価格
    <%= f.text_field :price %>円</td>
    <%= f.submit '新規登録' %>
</ul>
<% end %>