<div class="container px-5 px-sm-0">
<div class="row">
<div class="col-md-8 offset-md-2">
<div class ="w-50 p-2 m-3" style ="background-color: #eee;">
<h2>注文履歴詳細</h2>
</div>

<h3>注文情報</h3>

<table class="table table-bordered">
    <tr><th>注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
    <tr><th>配送先</th><td><%= @order.address %></td></tr>
    <tr><th>支払い方法</th><td><%= @order.payment_method_i18n %></td></tr>
</table>


<table class="table table-bordered">
    <thead>
        <tr>
        <th>商品</th>
        <th>単価（税込）</th>
        <th>個数</th>
        <th>小計</th>
        </tr>
    </thead>

<tbody>
      <% @order.order_details.each do |order| %>
  <tr>
    <td><%= order.item.name %></td>
    <td><%= order.item.with_tax_price %></td>
    <td><%= order.amount %></td>
    <% @subtotal = order.item.with_tax_price * order.amount %>
    　<td><%= @subtotal %></td>
    <% @total += order.item.with_tax_price * order.amount %>
　　<% end %>
   </tr>
</tbody>
</table>

<table class="table table-bordered">
    <tr><th>商品合計</th><td><%= @total %></td></tr>
    <tr><th>配送料</th><td>800</td></tr>
    <tr><th>ご請求額</th><td><%= @order.total_price %></td></tr>
</table>
</div>
</div>
</div>